# 1. Ignore large QIIME 2 artifacts
results/**/*.qza
results/**/*.qzv

# 2. Ignore large data folders
data/

# 3. Ignore temporary files
.ipynb_checkpoints/
__pycache__/

# 4. Ignore installer scripts
*.sh
